/* Reset & Base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Tahoma, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fffaf0;
  }
  
  img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
  }

  /* Header */

  header {
    background-color: #8b0000;
    color: #fff;
  }
  
  header h1 {
    font-size: 1.8rem;
  }

  .title {
    margin-right: 54%;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ffcc99;
  }

  .nav-disabled {
    color: #8a4242;
    pointer-events: none; /* Prevent clicks */
    cursor: default; /* Change the cursor to the default arrow */
  }
  
  /* Hero Section */

  #hero {
    background: url('images/jaffnacuisines.jpg') center/cover no-repeat;
    color: #ffffff;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
  }

  .text-stroke {
    color: white; /* Fill color */
    -webkit-text-stroke: 0.8px #8b0000; /* Width and color of the stroke */
  }
  
  .hero-content h2 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: #ff704d;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }

  .section {
    padding: 50px 10px;
    text-align: center;
  }

  .secbg {
    background-color: #8b0000;
  }

  .img-padder {
    padding: 15px;
  }

  .img-padder2 {
    font-size: 14.5px;
    padding-left: 212px;
    margin-right: 240px;
  }
  
  .menu-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
  }
  
  .menu-item {
    width: 300px;
    background-color: #fff0e6;
    padding: 15px;
    border-radius: 10px;
  }

  .menu-item:hover {
    transform: translateY(-10px);
  }
  
  img {
    color: white;
    font-size: 25px;
  }

  .about {
    text-align: left;
    font-size: 11px;
    margin-left: 50px;
    margin-bottom: 140px;
    margin-top: -145px;
  }


  /* Semi-Footer */

  .semi-footer {
    margin-bottom: 11%;
    margin-top: 30%;
    margin-right: 80%;
  }

  .padder {
    margin-right: 79%;
    margin-top: -3%;
    margin-bottom: 12%;
  }

  .padder2 {
    padding-bottom: 8%;
    margin-left: 24%;
    margin-top: -27%;
  }

  .padder3 {
    margin-left: 45%;
    margin-top: -25.3%;
  }

  .padder4 {
    margin-left: 69%;
  }

  .p4up {
    margin-top: -17.4%;
    padding-bottom: 0%;
  }

  .positionup {
    margin-bottom: 55%;
  }

  .endnav {
    position: relative;
    bottom: 136px;
    padding-left: 83%;
    margin-top: -12%;
  }

  a {
    text-decoration: none;
    color: #4fc3f7;
  }

  /* Footer */

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 32px;
    padding-top: 2%;
    margin-top: 0%;
  }


  /* Lister Section (PG2) */

.card-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.card {
    background-color: #ffeedd;
    color: black;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

.text-format {
  font-size: 25px;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h2 {
    margin-top: 15px;
}

.card p {
    text-align: left;
}

.card b {
    display: block;
    margin-top: 10px;
}

td {
  text-align: left;
  padding: 4px;
  font-size: 15px;
}

.td-right {
  text-align: right;
  font-size: 9.1px;
}

.td-left {
  padding-left: 105px;
}



  
  